*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: "Lexend Deca", sans-serif;
}
.box-grid{
    padding: 25px;
    width: 60%;
    height: 100vh;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.box-grid-item{
    display: flex;
    flex-direction: row;
    margin-left: 20px;
}
.item-content{
    height: 100%;
}
.item-content#col-1{
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.item-content#col-2{
    background-color:hsl(184, 100%, 22%);
}
.item-content#col-3{
    background-color:hsl(179, 100%, 13%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.image{
    padding: 20px;
}
.heading{
    font-family:"Big Shoulders Display", cursive;
    text-transform: uppercase;
    font-size: 30px;
    padding: 20px;
}
.para{
    font-size: 15px;
    margin-bottom: 20px;
    line-height: 1.6;
    padding: 25px;
}
.btn{
    background-color: white;
    border: 2px solid white;
    border-radius: 50px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
    margin-left: 20px;
    margin-bottom: 25px;
}
.btn:hover{
    background-color: transparent;
    color:white;
}